/* ── @font-face ── */

@font-face {
    font-family: "Canthia New Computer Modern";
    src: url("./latex_fonts/NewCM10-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Canthia New Computer Modern";
    src: url("./latex_fonts/NewCM10-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Canthia New Computer Modern";
    src: url("./latex_fonts/NewCM10-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Canthia New Computer Modern";
    src: url("./latex_fonts/NewCM10-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Canthia Latin Modern Roman";
    src: url("./latex_fonts/lmroman10-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Canthia Latin Modern Roman";
    src: url("./latex_fonts/lmroman10-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Canthia Latin Modern Roman";
    src: url("./latex_fonts/lmroman10-italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Canthia Latin Modern Roman";
    src: url("./latex_fonts/lmroman10-bolditalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Canthia Latin Modern Mono";
    src: url("./latex_fonts/lmmono10-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Canthia Latin Modern Mono";
    src: url("./latex_fonts/lmmonolt10-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Canthia Latin Modern Mono";
    src: url("./latex_fonts/lmmono10-italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Canthia Latin Modern Mono";
    src: url("./latex_fonts/lmmonolt10-boldoblique.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
